body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: #f8f9fa;
  color: #333;
  line-height: 1.6;
}

/* HEADER */
header {
  background-color: rgb(214, 110, 214);
  text-align: center;
  padding: 40px 20px;
  color: #023047;
}

header h1 {
  font-size: 2.5rem;
  margin: 0;
}

header p {
  font-style: italic;
  color: #555;
}

.email {
  font-weight: 500;
  color: #333;
}

/* NAVIGATION */
nav {
  background-color: #333;
  display: flex;
  justify-content: center;
  gap: 25px;
  padding: 12px 0;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: 600;
  transition: 0.3s;
}

nav a:hover {
  color: #ffd166;
}
